<!DOCTYPE html>
<html>
<head>
	<title>Trang bị cấm</title>
	<link rel="stylesheet" href="http://127.0.0.1:8080/css/404.css">
	<link href='http://127.0.0.1:8080/css/font.css' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://127.0.0.1:8080/favicon.png" type="image/png">
</head>
<body class="back">
	<div class="main">
		<br><br><br><br><br><br>
		<!-- <h1> ERROR 403</h1> -->
		<h3>Lấy làm tiếc! Trang bạn đang tìm bị cấm</h3>
		<a href="{{ url_for('start') }}" class="back">Quay về trang chủ</a>
	</div>
</body>
</html>
