<!DOCTYPE html>
<html>
<head>
	<title>Không tìm thấy trang</title>
	<link rel="stylesheet" href="http://127.0.0.1:8080/css/404.css">
	<link href='http://127.0.0.1:8080/css/font.css' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://127.0.0.1:8080/favicon.png" type="image/png">
</head>
<body class="back">
	<div class="main">
		<br><br><br><br><br><br>
		<!-- <h1> ERROR 404</h1> -->
		<h3>Xin lỗi , không thể tìm thấy trang bạn yêu cầu</h3>
		<a href="{{ url_for('start') }}" class="back">Quay lại trang chủ</a>
	</div>
</body>
</html>
