<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Lala</title>
  <link rel="stylesheet" href="http://127.0.0.1:8080/css/reset-min.css">
  <link rel='stylesheet prefetch' href='http://127.0.0.1:8080/css/roboto.css'>
  <link rel='stylesheet prefetch' href='http://127.0.0.1:8080/css/monsterrat.css'>
  <link rel='stylesheet prefetch' href='http://127.0.0.1:8080/css/font-awesome.css'>
  <link rel="stylesheet" href="http://127.0.0.1:8080/css/style.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/css/alert.css">
  <link rel="icon" href="http://127.0.0.1:8080/favicon.png" type="image/png">
</head>

<body>
    <div class="container">
      <div class="info">
        <h1 style="color:#16A085;">Lala</h1>
      </div>
    </div>
    <div class="form">
      <form class="login-form" action="add-admin" method="post">
        {% if nameError %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Tên người dùng đã có
          </div>
        {% endif %}
        {% if passError %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          Thông tin đăng nhập không hợp lệ
        </div>
        {% endif %}
        <h3 style="color:#FFFFFF;">Thoát thông tin đăng nhập quản trị viên</h3><br>
        <input type="password" name="admin_password" placeholder="Mật khẩu" required autofocus/>
        <br><h3 style="color:#FFFFFF">Thông tin đăng nhập quản trị viên mới</h3><br>
        <input type="text" name="new_username" placeholder="Tên đăng nhập mới" required/>
        <input type="password" name="new_password" placeholder="Mật khẩu mới" required/>
        <button>Thêm quản trị viên</button>
      </form>
    </div>
</body>
</html>
