<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>An Lạc</title>
  <link rel="stylesheet" href="http://127.0.0.1:8080/css/reset-min.css">
  <link rel='stylesheet prefetch' href='http://127.0.0.1:8080/css/roboto.css'>
  <link rel='stylesheet prefetch' href='http://127.0.0.1:8080/css/monsterrat.css'>
  <link rel='stylesheet prefetch' href='http://127.0.0.1:8080/css/font-awesome.css'>
  <link rel="stylesheet" href="http://127.0.0.1:8080/css/style.css">
  <link rel="stylesheet" href="http://127.0.0.1:8080/css/alert.css">
  <link rel="icon" href="http://127.0.0.1:8080/favicon.png" type="image/png">
</head>

<body>
    <div class="container">
      <div class="info">
        <h1 style="color:#16A085;">An Lạc</h1>
      </div>
    </div>
    <div class="form">
      <form class="login-form" action="signup" method="post">
        {% if signupError %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Tên người dùng đã có
          </div>
        {% endif %}
        <input type="text" name="username" placeholder="Tài khoản" required autofocus/>
        <input type="password" name="password" placeholder="Mật khẩu" required/>
        <button>Đăng ký tài khoản</button>
        <p class="message">Bạn đã có tài khoản? <a href="{{ url_for('login_form') }}">Đăng nhập</a></p>
      </form>
    </div>
</body>
</html>
