<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tải link Youtube</title>
    <link rel="stylesheet" href="http://127.0.0.1:8080/css/upload.css">
    <link rel="stylesheet" href="http://127.0.0.1:8080/css/video.css">
    <link rel="icon" href="http://127.0.0.1:8080/favicon.png" type="image/png">
</head>

<body>
  <h4 align="center" class="heading2">Tải link</h4>
  <form action="upload" method="POST" enctype=multipart/form-data>
    <input type="text" accept="video/mp4" name=file>
    <p>Dán đường link của bạn ở đây</p>
    <input type="text" name="title" id="title" placeholder="Tựa đề" required>
    <button type="submit">Tải link</button>
  </form>
  <script src='http://127.0.0.1:8080/js/jquery.js'></script>
  <script  src="http://127.0.0.1:8080/js/upload.js"></script>
</body>
</html>
