<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="static/css/style.css?version=1">
  <link rel="stylesheet" href="static/css/alert.css?version=1">
  <link rel="shortcut icon" href="static/favicon.ico">
</head>

<body>
    <div class="container">
      <div class="info">
        <h1 style="color:#16A085;">VideoHub</h1>
      </div>
    </div>
    <div class="form">
      <form class="login-form" action="change-password" method="post">
        {% if update_error %}
          <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Old password does not match
          </div>
        {% endif %}
        <input type="password" name="oldPassword" placeholder="old password" required autofocus/>
        <input type="password" name="newPassword" placeholder="new password" required/>
        <button>update</button>
      </form>
    </div>
</body>
</html>
