<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Upload</title>
    <link rel="stylesheet" href="static/css/upload.css?version=1">
    <link rel="stylesheet" href="static/css/video.css?version=1">
    <link rel="shortcut icon" href="static/favicon.ico">
</head>

<body>
  <h1 align="center" class="heading1">VideoHub</h1>
  <br><br><br>
  <h4 align="center" class="heading2">Upload video</h4>
  <form action="upload" method="POST" enctype=multipart/form-data>
    <input type="file" accept="video/mp4" name=file>
    <p>Drag your files here or click in this area.</p>
    <input type="text" name="title" id="title" placeholder="Enter title here" required>
    <button type="submit">Upload</button>
  </form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="static/js/upload.js?version=1"></script>
</body>
</html>
