<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Video database management system</title>
    <link rel="stylesheet" href="static/css/upload.css?version=1">
</head>

<body>
  <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
</fieldset>
  <form action="upload" method="POST" enctype=multipart/form-data>
    <input type="file" accept="video/mp4" name=file>
    <p>Drag your files here or click in this area.</p>
    <button type="submit">Upload</button>
  </form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
